
<div class=" clearfix rightTitle">
    <h2 class="left">关于我们 ABOUT US</h2>
    <div class="right location">你现在的位置是： <a class="gold" href="index.html">首页</a> > <a class="gold" href="aboutUs.html">关于我们</a> > <span class="lightGrey">企业文化</span></div>
</div>
<ul class="rightInfor">
    <li class="clearfix">
        <!-- <strong class="left">独立</strong>-->
        <span class=" left">
            &nbsp;&nbsp;
            利用物联网的光速传输为客户创造价值，为人们带来更为方便的工作方式将成为我公司取得最大财富，如何将这种财富以更好的方式在服务于客户将成为我公司的重要依归。为此我公司将至力于“独立”、“坦率”、“尊重”、“谦虚”的企业文化根植于公司的每一位员工心中，并且相信凭此信念我公司将能够自由冲破任何的艰难险阻甚至能够用这种精神阻挡无法避免的灾难去实习我们所想要的所有，为我们的用户贡献我们的全部来营造一个越来越美丽的家园。
        </span>
    </li>
    <li class="clearfix">
        <!-- <strong class="left">独立</strong>-->
        <span class=" left">
            &nbsp;&nbsp;
            公司的崛起和公司的消退我们相信都不是商业性的决定，而是用户行为的副产品，我们不能够代替用户做任何事，但我们可以提供互联网光速传输的平台让大家在这里喜欢互相帮忙，力求在最广泛围内发起协作，让合作变为我们的基础设施，来营造更为宽广的充满生命力的生活和工作空间，而这些生命都是生猛的革命性力量，祝我们的公司和我们的用户永远走在一起！
        </span>
    </li>
    <li class="clearfix">
        <strong class="left">独立</strong>
        <span class=" left">
            &nbsp;&nbsp;
            有独立意志，不畏强权与金钱，敢于说不。具有知性与道德的自主权，超越时尚与潮流，不依赖强势和众人为其所役，能够自由。
        </span>
    </li>
    <li class="clearfix">
        <strong class="left">坦率</strong>
        <span class="left">
            &nbsp;&nbsp;追求内在的真实，听从来自内心灵魂深处真实的声音，让这种声音自由冲破一切束缚和限制，让世界听到你从而知道怎么帮助你实现自我，公司终极的标准是在这一刻里你是否诚实正直勇敢和富于爱心。
        </span>
    </li>
    <li class="clearfix">
        <strong class="left">尊重</strong>
        <span class="left">&nbsp;&nbsp;听从自己内心并尊重它，同样像尊重自己一样尊重别人的想法和做法，达成成人和成人之间相互尊重的双赢合作，任何不尊重自己与他人想法和做法的违背真实的不诚实行为，公司予于拒绝。</span>
    </li>
    <li class="clearfix">
        <strong class="left">谦虚</strong>
        <span class="left">&nbsp;&nbsp;努力把自己放到海一样低，不但汲取一切好的，还要学会同情理解宽容，与世界共鸣，从而战胜一切恐惧。</span>
    </li>
</ul>