
<div class="clearfix newsCenter">
    <div class="swrapper">
        <dl class="left news">
            <dt>主要业务</dt>
            <!-- <dd><a class="left" href="#2">[新闻]改变、求共赢拜会</a><span class="right">2013-11-05</span></dd>
             <dd><a class="left" href="#2">[新闻]商务艇品king再交</a><span class="right">2013-11-05</span></dd>
             <dd><a class="left" href="#2">[新闻]改变、求共赢拜会</a><span class="right">2013-11-05</span></dd>
             <dd><a class="left" href="#2">[新闻]商务艇品king再交</a><span class="right">2013-11-05</span></dd>
             <dd><a class="left" href="#2">[新闻]改变、求共赢拜会</a><span class="right">2013-11-05</span></dd>
             <dd><a class="left" href="#2">[新闻]商务艇品king再交</a><span class="right">2013-11-05</span></dd>-->
        </dl>
        <div class="show left">
            <div id="pre" class="pre left"><img src="images/ltBtn.jpg" alt="" /></div>
            <div class="show_main left">
                <div id="show_main">
                    <ul id="show_pic">
                        <li><a href="productgh.html"><img src="images/yacht1.png" width="176" height="156" /></a></li>
                        <li><a href="CloudServing.html"><img src="images/yacht2.png" width="176" height="156" /></a></li>
                        <li><a href="InNet.html"><img src="images/yacht3.png" width="176" height="156" /></a></li>
                        <li><a href="wifi.html"><img src="images/yacht4.png" width="176" height="156" /></a></li>
                        <li><a href="VideoConferencing.html"><img src="images/yacht5.png" width="176" height="156" /></a></li>
                    </ul>
                </div>
            </div>
            <div id="next" class="next"><img src="images/rtBtn.jpg" alt="" /></div>
            <script>index_textslide('show_main','show_pic','pre','next',564,155);</script>
        </div>
        <div class="right weixin">
            <img class="right" src="images/weixin.png" align="" /><!--<span class="left">手机站二维码</span>-->手机站二维码
        </div>
    </div>
</div>