/* CSS Document */
.rightContent{ width:692px; min-height:346px; _height:346px; border:1px solid #e4e6e8; background:#fff; position:relative; top:-12px; padding:0 38px 30px;}
.contentMain{ margin-top:40px;}
.adress{ margin-top:90px;}
.company{ font-weight:bold; font-size:16px;}
.adress p{ line-height:22px;}