<div class=" clearfix rightTitle">
    <h2 class="left">关于我们 ABOUT US</h2>
    <div class="right location">你现在的位置是： <a class="gold" href="index.html">首页</a> > <a class="gold" href="aboutUs.html">关于我们</a> > <span class="lightGrey">企业简介</span></div>
</div>
<ul class="rightInfor">
    <li class="clearfix">
        <span class=" left">
            &nbsp;&nbsp;
            北京时代信达科技发展有限公司于2013年至今一直代理中国电信数据和语言业务，业务领域涉及各行各业，签约客户属于各行各业中高端客户。公司目前是30多人的销售团队，主要全面了解各行各业准客户通信的实际需求和潜在需求，为客户提供适合客户应用能为客户解决根本问题的全面性方案，最终为客户带来创造性价值，让客户因为我们的服务创造出更大的效率和更长远的利益。
        </span>
    </li>
    <li class="clearfix">
        <span class="left">
            &nbsp;&nbsp; 在我们的工作过程中，我们发现客户远远不只有互联网专线和全国乃至全球组网及数据存储中心这些最基础的业务需求，在此基础上客户还需要在线视频会议和在线安全性监控，移动办公等应用，在打范围内都需要无线wifi的覆盖，还有3G乃至4G的需要，以及利用终端通过云服务将OA和VPN随时随地应用于个人和工作之间的联系在未来发展趋势上通过上网流量尤其是手机终端来为大量数据图像即时随地传输将会为每个人节省太多的成本和带来太意想不到的惊喜与方便。通信革命在人们的生活和工作中终将会连续不断的发生。
        </span>
    </li>
    <li class="clearfix">
        <span class=" left">
            &nbsp;&nbsp;
            为此我公司也将永远为这一革命新生目的而存在，感谢一直以来应用和支持我公司提供服务的尊敬客户，我为们能为您提供服务而感到骄傲，我们将用尽我们的心来为您提供更高层次的服务，开拓更多的客户和我们一起走向惊喜美好的未来，让我们于世界连接。
        </span>
    </li>
</ul>

