<script type="text/javascript" src="~/js/jquery.js"></script>
<script type="text/javascript" src="~/Shared/javascript/XmlOp.js"></script>
<script>

    
    //productName-directline
    //xmlFilePath- d：/
    //RootNode- root
    // strField- ID (input)
    //likRequiredField (output)
    function productDisplay(productName, xmlFilePath, RootNode, linkRequiredField)//
    {
        //acquire product name from xml file according to strField.
        var ProductObj = getPath(productName, xmlFilePath, RootNode)[2];
        //get request field value. such as a path..
        var strFieldInfo = LinkDirect(productName, linkRequiredField, xmlFilePath);

    }

  

</script>
<div class="clearfix rightTitle">
    <h2 class="left">产品介绍 PRODUCTS</h2>
    <div  id="div_CurrentLocation" class="right location">你现在的位置是： <a class="gold" href="index.html">首页</a> > <a class="gold" href="product.html">产品介绍</a> > <span class="lightGrey">数据业务</span></div>
</div>
<div id="div_Product">
    <ul id="orbs" class="bubblewrap clearfix">

        <li>
            <a href="#">
                <img style="z-index: 999; left: 0px; top: 0px; display: block;" src="~/Content/images/product/Internet/network.png"
                      alt="" onclick="MakeHtml('专线业务', '/Shared/xml/xmlPath.xml', '首页', 'SubItems')">
            </a>
            <div class="tooltip" style="z-index: 999; text-align:center;  left: -24.5px; top: -56.5px; padding-top:60px;">
                <a href="#">专线业务</a>
            </div>
        </li>



        <li>
            <a href="#">
                <img style="z-index: 999; left: 0px; top: 0px; display: block;" src="~/Content/images/product/IDC/IDC.png" alt=""
                     onclick="MakeHtml('IDC业务', '/Shared/xml/xmlPath.xml', '首页', 'IDC业务')">
            </a>
            <div class="tooltip" style="z-index: 999; text-align:center;  left: -24.5px; top: -56.5px; padding-top:60px;">
                <a href="#">IDC业务</a>
            </div>
            
        </li>
    </ul>
</div>
