<div class="clearfix rightTitle">
    <h2 class="left">产品介绍 PRODUCTS</h2>
    <div class="right location">你现在的位置是： <a class="gold" href="index.html">首页</a> > <a class="gold" href="product.html">产品介绍</a> > <span class="lightGrey">数据业务</span></div>
</div>
<ul id="orbs" class="bubblewrap clearfix">

    <!--		<li><a href="InNet.html"><img style="z-index: 999; left: 0px; top: 0px; display: block;" src="images/product/Internet/
    hlwjr.png" alt=""></a><div class="tooltip" style="z-index: 999; text-align:center;  left: -24.5px; top: -56.5px; padding-top:60px;"><a href="InNet.html">互联网接入</a></div></li>

            <li><a href="Telephone30b.html"><img style="z-index: 999; left: 0px; top: 0px; display: block;" src="images/product/gh/
    hlw.png" alt=""></a><div class="tooltip" style="z-index: 999; text-align:center;  left: -24.5px; top: -56.5px; padding-top:60px;"><a href="Telephone30b.html">基于互联网增值业务</a></div></li>

                        <li><a href="VideoConferencing.html"><img style="z-index: 999; left: 0px; top: 0px; display: block;" src="images/product/Internet/
    ytw.png" alt=""></a><div class="tooltip" style="z-index: 999; text-align:center;  left: -24.5px; top: -56.5px; padding-top:60px;"><a href="VideoConferencing.html">以太网</a></div></li>-->

    <li>
        <a href="productzx.html">
            <img style="z-index: 999; left: 0px; top: 0px; display: block;" src="~/Content/images/product/Internet/
network.png" alt="">
        </a><div class="tooltip" style="z-index: 999; text-align:center;  left: -24.5px; top: -56.5px; padding-top:60px;"><a href="productzx.html">专线业务</a></div>
    </li>



    <li><a href="IDC.html"><img style="z-index: 999; left: 0px; top: 0px; display: block;" src="~/Content/images/product/IDC/IDC.png" alt=""></a><div class="tooltip" style="z-index: 999; text-align:center;  left: -24.5px; top: -56.5px; padding-top:60px;"><a href="IDC.html">IDC业务</a></div></li>


