<!--right content start-->
<div class="right rightContent">
    <div class=" clearfix rightTitle">
        <h2 class="left">加入我们 JOIN US</h2>
        <div class="right location">你现在的位置是： <a class="gold" href="index.html">首页</a> > <a class="gold" href="#2">加入我们</a> > <span class="lightGrey">招聘信息</span></div>
    </div>
    <ul class="newsInfo">
        <li class="clearfix"><a class="left gold" href="joinkf.html">[长期招聘]&nbsp;&nbsp;客服人员</a><span class="right deepGrey">[2015-05-10]</span></li>
        <li class="clearfix"><a class="left gold" href="joinjs.html">[长期招聘]&nbsp;&nbsp;技术人员</a><span class="right deepGrey">[2015-05-10]</span></li>
        <li class="clearfix"><a class="left gold" href="joincn.html">[长期招聘]&nbsp;&nbsp;出纳人员</a><span class="right deepGrey">[2014-05-10]</span></li>
        <li class="clearfix"><a class="left gold" href="joinxz.html">[长期招聘]&nbsp;&nbsp;行政人员</a><span class="right deepGrey">[2014-05-10]</span></li>
        <li class="clearfix"><a class="left gold" href="joinrl.html">[长期招聘]&nbsp;&nbsp;人力资源</a><span class="right deepGrey">[2013-05-10]</span></li>
        <li class="clearfix"><a class="left gold" href="joinxs.html">[长期招聘]&nbsp;&nbsp;销售人员</a><span class="right deepGrey">[2013-05-10]</span></li>
        <li class="clearfix"><a class="left gold" href="joinxsjl.html">[长期招聘]&nbsp;&nbsp;销售总监</a><span class="right deepGrey">[2013-05-10]</span></li>
    </ul>
    <!--<div class="page">
        <a class="gold pre" href="#2">上一页</a>
        <a class="gold" href="#2">1</a>
        <a class="currentPoint gold" href="#2">2</a>
        <a class="gold" href="#2">3</a>
        <a class="gold" href="#2">4</a>
        <a class="gold" href="#2">5</a>
        <a class="gold" href="#2">6</a>
        <a class="gold" href="#2">7</a>
        <a class="gold" href="#2">…</a>
        <a class="gold" href="#2">99</a>
        <a class="gold next" href="#2">下一页</a>
    </div>-->
</div>