<div>
    <div class="fontDivBase">name:</div>
    <div style="float:left" class="fontDivBase"></div>

    <div class="fontDivBase">password:</div>
    <div style="float:left" class="fontDivBase"></div>
</div>
